@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #001e40;
  --color-primary-container: #003366;
  --color-on-primary-container: #799dd6;
  --color-background: #f8f9fa;
  --color-surface: #f8f9fa;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container: #edeeef;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-highest: #e1e3e4;
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #43474f;
  --color-secondary: #5f5e5e;
  --color-tertiary-fixed: #ffdbca;
  --color-on-tertiary-fixed: #341100;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-success-fixed: #dcfce7;
  --color-on-success-fixed: #14532d;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

